<aside class="col-3 p-5 admin__aside">
    <h1 class="fs-2 mb-5 ">Dashboard</h1>
    <div class="d-flex mb-3">
        <i class="fa-solid fa-list"></i>
        <a href="{{ path('admin_product') }}" class="fs-5 ms-3 text-decoration-none">Catégories</a>
    </div>
    <div class="d-flex mb-3">
        <i class="fa-solid fa-shop"></i>
        <a href="{{ path('admin_product') }}" class="fs-5 ms-3 text-decoration-none">Produits</a>
    </div>
    <div class="d-flex mb-3">
        <i class="fa-solid fa-bookmark"></i>
        <a href="{{ path('admin_product') }}" class="fs-5 ms-3 text-decoration-none">Taille</a>
    </div>
</aside>
