/* ADMIN */

.admin__main {
    background-color:rgb(230, 220, 220);
    box-shadow: 10px 3px 10px rgb(34, 30, 30);
    border: 1px solid rgb(148, 143, 143);
}
.admin__aside {
    background-color:rgb(184, 174, 174);
    box-shadow: 10px 3px 10px rgb(34, 30, 30);
}
.admin__main_picture {
    width: 100px;
    height: 130px;
}

/* CAROUSEL */
.carousel-item {
    margin-right:-80%;
    position:relative;
    top:8px;
}

/* NAVBAR */

.navbar__logo {
    height: 80px;
    width: 200px;
}

.nav-link {
    color:#000;
}

.nav-active:hover{
    border-top: 2px solid red;
}

.navbar__shop {
    margin-left:190px;
}

/* BANNER */

.home__banner_picture{
    min-height:105vh;
    width:100%;
    object-fit:cover;
}

.home__header_btn {
    position:absolute;
    bottom:0;
    left:200px;
}

/* MAIN */
.home__main_picture{
    height:100%;
    width:100%;
    border-radius: 5px;
    object-fit:cover;
    /* opacity:0.6; */
}

.home__main_content {
    height: 370px;
    width: 320px;
    position: relative;
    box-shadow: 3px 3px 5px rgb(111, 119, 148);
}

.home__main_content button {
    position:absolute;
    bottom:15%;
    left:45%;
}
.home__main_content p {
    position:absolute;
    bottom:22%;
    left:35%;
}

/* SECTION */
.home__section_title {
    display:flex;
    justify-content:space-between;
}

.home__section_product {
    height:380px;
    width:320px;
    /* object-fit:content; */
}

/* ASSURANCE */

.home__assurance_icon {
    position:absolute;
    top:55px;
    left:205px;
    color: white;
}

.home__assurance_logo {
    height:150px;
    width: 150px;
}

/* FOOTER */

.home__footer {
    background-color:#646E68;
    color:#fff;
}


/* SHOP */

.shop_picture {
    height:380px;
    width:320px;
}

.underline_title {
    background-color: red;
    width: 160px;
    height:2px;
}
