<form method="GET">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-end">
                <select class="text-center product__select_filter" id="sort-by" name="sort_product">
                    <option value="" class="choice__select_filter">--Select--</option>
                    <option value="titre-ascendant" class="choice__select_filter">Alphabétique: [A-Z]</option>
                    <option value="titre-descendant" class="choice__select_filter">Alphabétique: [Z-A]</option>
                    <option value="prix-ascendant" class="choice__select_filter">Prix: [moins chère au plus chère ]</option>
                    <option value="prix-descendant" class="choice__select_filter">Prix: [plus chère au moins chère ]</option>
                </select>
                <button type="submit" class="btn__filter" id="basic-addon2">Filtrer</button>
            </div>
        </div>
    </div>
</form>
