{% extends 'base.html.twig' %}

{% block title %}
    Catalogue des produits
{% endblock %}

{% block body %}

    <div class="container container__tablette mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home_index') }}" class="text-decoration-none">Accueil</a></li>
            <li class="breadcrumb-item active">Notre boutique</li>
        </ol>
    </div>

    <header class="container container__tablette header__title_filter mt-3">
        <div class="">
            <h1 class="text-capitalize">Notre Boutique</h1>
            <div class="underline_title"></div>
        </div>
        
        {# Formulaire pour filtrer les produits(par ordre croissant et décroissant) #}
        {% include 'product/_form_filter_product.html.twig' %}
        
    </header>
    <main class="container container__tablette mb-5">
        <div class="count">
            <h2 class="fs-5 my-4">Articles ({{ products.getTotalItemCount }})</h2>
        </div>
        <div class="d-flex flex-wrap">
            {% for p in products %}
                <div class="shop__card">
                    <a href="{{ path('product_show', {'category':p.category.slug, 'slug':p.slug}) }}" class="text-decoration-none">
                        {% include 'product/_product_card.html.twig' %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </main>
    {# PAGINATION #}
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(products) }}
    </div>

{% endblock %}