{# <div id="carouselExampleInterval" class="carousel slide bg-dark text-white" data-bs-ride="carousel">
    <div class="carousel-inner text-center pt-3">
        <div class="carousel-item active " data-bs-interval="10000">
            <p>Livraison offerte dès 59€ en France métropolitaine </p>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <p>Black Friday le 25 novembre uniquement !</p>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> #}

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner text-center pt-3">
    <div class="carousel-item active">
        <p>Livraison offerte dès 59€ en France métropolitaine </p>
    </div>
    <div class="carousel-item">
        <p>Black Friday le 25 novembre uniquement !</p>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
