<footer class="container-fluid home__footer pt-5 pb-3 mt-5">
    <div class="home__footer_card ">
        <div class="home__footer-content d-flex flex-column">
            <hr>
            <h3 class="fs-4 mb-3">Aide</h3>
            <a href="#" class="fs-5 text-decoration-none">FAQ</a>
            <a href="{{ path('contact_index') }}" class="fs-5 text-decoration-none">Contact</a>
            <a href="#" class="fs-5 text-decoration-none">Retour & échanges</a>
            <a href="#" class="fs-5 text-decoration-none">Livraisons</a>
        </div>
        <div class="home__footer-content d-flex flex-column">
            <hr>
            <h3 class="fs-4 mb-3">Informations</h3>
            <a href="#" class="fs-5 text-decoration-none">A Propos</a>
            <a href="#" class="fs-5 text-decoration-none">Guides des tailles</a>

        </div>
    </div>

    <div class="text-center">
        <div class="home__footer_medias pt-4">
            <i class="fa-brands fa-instagram fa-2x"></i>
            <i class="fa-brands fa-square-facebook fa-2x"></i>
            <i class="fa-brands fa-square-pinterest fa-2x"></i>
        </div>
    </div>

    <hr class="mt-5">
    <div class="home__footer_copyright">
        <p>©2022 | EvolutionFit | Tous droits réservés</p>
        <div class="home__footer_right d-flex">
            <p class="mx-2">CGV</p>
            <p class="mx-2">Mentions Légales</p>
            <p class="mx-2">Politique de cookies et de confidentialités</p>
        </div>
    </div>
</footer>
