<footer class="container-fluid home__footer pt-5">
    <div class="container pb-3">
        <div class="home__footer_card d-flex justify-content-around">
            <div class="home__footer-content">
                <hr>
                <h3 class="fs-4 mb-3">Aide</h3>
                <h4 class="fs-6">FAQ</h4>
                <h4 class="fs-6">Contact</h4>
                <h4 class="fs-6">Retour & échanges</h4>
                <h4 class="fs-6">Livraisons</h4>
            </div>
            <div class="home__footer-content">
                <hr>
                <h3 class="fs-4 mb-3">Informations</h3>
                <h4 class="fs-6">A Propos</h4>
                <h4 class="fs-6">Guides des tailles</h4>

            </div>
            <div class="home__footer-content">
                <div class="home__footer_medias pt-4">
                    <i class="fa-brands fa-instagram fa-2x"></i>
                    <i class="fa-brands fa-square-facebook fa-2x"></i>
                    <i class="fa-brands fa-square-pinterest fa-2x"></i>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="home__footer_copyright d-flex justify-content-between">
        <p>©2022 | EvolutionFit | Tous droits réservés</p>
        <div class="home__footer_right d-flex me-5">
            <p class="mx-2">CGV</p>
            <p class="mx-2">Mentions Légales</p>
            <p class="mx-2">Politique de cookies et de confidentialités</p>
        </div>
    </div>
</footer>
