<div id="carouselExampleFade" class="carousel slide carousel-fade  infos__Banner" data-bs-ride="carousel">
  <div class="carousel-inner text-center pt-1">
    <div class="carousel-item active ">
        <p class="m-1">Livraison strandard offerte dès 59€ en France métropolitaine </p>
    </div>
    <div class="carousel-item">
        <p class="m-1">Remise étudiante de 10% !</p>
    </div>
  </div>
  <button class="carousel-control-prev pt-0" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next pt-0" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
