<div class="container-fluid home__newsletter bg-primary p-4">
    <div class="home__newsletter_card d-flex justify-content-center align-items-center ">
        <div class="home__newsletter_content mx-4">
            <h3 class="text-light">Newsletter</h3>
            <p>Pour recevoir des offres exclusives,<br/>nos dernières produits et plus encore</p>
        </div>
        <div class="home__newsletter_subscription">
            <input type="text" name="" id="" class="p-2" placeholder="Adresse@gmail.com">
            <a href="" class="btn btn-primary">
                <i class="fa-solid fa-paper-plane"></i>
            </a>
        </div>
    </div>
</div>
